// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$violet: #79589f;
$violethover: #4f3074;
$buttontransition: 0.1s ease-in;
$border: #eaeaea;