// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Roboto', sans-serif;
    background-color: $body-bg;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    color: unset;
    text-decoration: unset;
    font: unset;
}


// SCSS

.container{
}

h2{
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 20px;
    color: #000;
}

.navbar{
    padding: 20px;
    display: flex;
    justify-content: center;
    position:sticky;
    top: 0;
    width: 100%;
    margin: 0 auto;
    border-bottom: solid 1px #eaeaea;
    background-color: #fff;
    box-sizing: border-box;
    margin: 0 auto;
    & > div{
        max-width: 1400px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &-brand{
        display: flex;
        align-items: center;
        b{
            font-weight: bold;
        }
    }
    &-nav{
        display: flex;
        justify-content: right;
        align-items: center;
        .item{
            padding: 12px 20px;
            display: flex;
            align-items: center;
            margin-left: 15px;
            border-radius: 4px;
            background-color: #ccc;
            color: #444;
            font-weight: bold;
            transition: $buttontransition;
            &:hover{
                background-color: #bbb;
            }
            img{
                position: relative;
                width: 15px;
                margin-right: 10px;
                filter: grayscale(1) invert(1);
            }
            &:nth-of-type(1){
                background-color: $violet;
                color: #fff;
                &:hover{
                    background-color: $violethover;
                }
            }
        }
        
    }
}

.login,
.register{
    position: relative;
    img{
        position: absolute;
        height: calc(100vh - 81px);
        right: 0;
    }
}

.sidebar{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 81px);
    min-width: 441px;
    position: fixed;
    max-width: 35%;
    box-sizing: border-box;
    background-color: $body-bg;
    p{
        font-weight: 300 !important;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 20px;
        a{  
            color: $violet;
            &:hover{
                color: $violethover;
                text-decoration: underline;
            }
        }
    }
    &-content{
        .input-text{
            border: 1px solid $border;
            position: relative;
            box-sizing: border-box;
            margin-bottom: 20px;
            border-radius: 4px;
            input{
                width: 100%;
                height: 100%;
                background-color: unset;
                border: none;
                top: 0;
                left: 0;
                padding: 15px 25px;
                outline: none;
                font-size: 16px;
                box-sizing: border-box;
            }
        }
        button{
            outline: none;
            background-color: $violet;
            border: none;
            width: 100%;
            padding: 15px;
            color: white;
            font-weight: bold;
            margin-bottom: 20px;
            &:hover{
                background-color: $violethover;
            }
        }
    }
}