@import url(https://fonts.googleapis.com/css?family=Nunito);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
  background-color: #f8fafc;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: unset;
  text-decoration: unset;
  font: unset;
}

h2 {
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 20px;
  color: #000;
}

.festlist h5 {
  color: #79589f;
  font-size: 1.25rem;
  font-weight: 500;
}
.festlist .search {
  padding: 5px 15px;
  margin: 5px 10px 10px 0;
  border: 1px solid #79589f;
  border-radius: 5px;
}
.festlist .search::-moz-placeholder {
  color: #79589f;
}
.festlist .search:-ms-input-placeholder {
  color: #79589f;
}
.festlist .search::placeholder {
  color: #79589f;
}

.posts-filters label {
  padding: 5px 15px;
  background: #fff;
  color: #79589f;
  display: inline-block;
  margin: 5px 10px 0 0;
  border: 1px solid #79589f;
  transition: 0.3s;
  cursor: pointer;
}
.posts-filters input[type=radio] {
  display: none;
}
.posts-filters input[type=radio]:checked + label {
  background: #79589f;
  color: #fff;
  border: 1px solid #79589f;
}

.navbar {
  padding: 20px;
  display: flex;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 80px;
  width: 100%;
  margin: 0 auto;
  border-bottom: solid 1px #eaeaea;
  background-color: #fff;
  box-sizing: border-box;
  margin: 0 auto;
  max-height: 80px;
}
.navbar > div {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand b {
  font-weight: bold;
}
.navbar-nav {
  display: flex;
  justify-content: right;
  align-items: center;
}
.navbar-nav .item {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  margin-left: 15px;
  border-radius: 4px;
  background-color: #ccc;
  color: #444;
  font-weight: bold;
  transition: 0.1s ease-in;
  cursor: pointer;
}
.navbar-nav .item.add {
  margin-right: 15px;
}
.navbar-nav .item:hover {
  background-color: #bbb;
}
.navbar-nav .item img {
  position: relative;
  width: 15px;
  margin-right: 10px;
  filter: grayscale(1) invert(1);
}
.navbar-nav .item:nth-of-type(1) {
  background-color: #79589f;
  color: #fff;
}
.navbar-nav .item:nth-of-type(1):hover {
  background-color: #4f3074;
}

.login,
.register {
  position: relative;
}
.login img,
.register img {
  position: fixed;
  height: calc(100vh - 80px);
  right: 0;
  z-index: -1;
}

.sidebar {
  padding-left: 50px;
  padding-top: 50px;
  padding-right: 50px;
  width: 60%;
  margin-right: 50px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  height: calc(100vh - 80px);
  box-sizing: border-box;
  background-color: #f8fafc;
}
.sidebar.menu {
  width: auto;
  align-items: flex-start;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 50px 25px 0 25px;
}
.sidebar.menu > div {
  display: flex;
  flex-direction: column;
}
.sidebar.menu > div p {
  color: #808080;
  margin-bottom: 15px;
}
.sidebar.menu > div a {
  font-weight: bold;
  color: #000;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 0;
}
.sidebar.menu > div a img {
  width: 20px;
  margin-right: 20px;
}
.sidebar.menu a {
  transition: 0.2s ease-in;
}
.sidebar.menu a:hover {
  color: #4f3074;
}
.sidebar.menu .active {
  color: #79589f;
  font-weight: bold;
}
.sidebar p {
  font-weight: 300 !important;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
}
.sidebar p a {
  color: #79589f;
}
.sidebar p a:hover {
  color: #4f3074;
  text-decoration: underline;
}
.sidebar-content .input-text {
  border: 1px solid #eaeaea;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 4px;
}
.sidebar-content .input-text input {
  width: 100%;
  height: 100%;
  background-color: unset;
  border: none;
  top: 0;
  left: 0;
  padding: 15px 25px;
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
}
.sidebar-content button {
  outline: none;
  background-color: #79589f;
  border: none;
  width: 100%;
  padding: 15px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
}
.sidebar-content button:hover {
  background-color: #4f3074;
}
@media (max-width: 1100px) {
  .sidebar {
    margin-right: 25px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.cards h5 {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.cards.full {
  max-width: 100%;
  margin-top: -50px;
}
.cards.full .card-detail {
  padding: 0;
  margin-top: 30px;
}
.cards.full .card-img {
  width: 100%;
  height: auto;
  max-width: unset !important;
  max-height: 300px;
  position: relative;
}
.cards.full .card-img:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.cards.full .card-img .name {
  position: absolute;
  font-weight: bold;
  color: #fff;
  font-size: 50px;
  left: 20px;
  bottom: 20px;
}

.card {
  display: flex;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  margin-top: 30px;
  height: 100px;
  cursor: pointer;
  transition: 0.2s ease-in;
  margin-right: 25px;
  max-width: calc(50% - 28px);
  width: calc(50% - 28px);
}
@media (max-width: 768px) {
  .card {
    margin-right: 0;
  }
}
.card:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.card-img {
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 100%;
  border-radius: 4px;
  align-items: center;
  max-width: 35%;
}
.card-img img {
  width: 100%;
  height: auto;
}
.card-detail {
  padding: 20px;
  width: 100%;
  overflow: hidden;
}
.card-detail .name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
.card-detail .description {
  opacity: 0.7;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}
.card-detail .date {
  font-size: 10px;
  opacity: 0.5;
}
.card-actions {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card-actions a:hover {
  opacity: 0.3;
}
@media (max-width: 1100px) {
  .card {
    width: 100%;
    max-width: 100%;
  }
}

.content {
  padding-top: 50px;
  display: flex;
  height: calc(100vh - 80px);
  box-sizing: border-box;
  background-color: #f8fafc;
  width: calc(80% - 50px);
  max-height: calc(100vh - 80px);
  overflow-y: scroll;
  overflow-x: hidden;
}
@media (max-width: 768px) {
  .content {
    width: 100%;
    margin: 0 10px;
  }
}
.content .festlist {
  width: 100%;
}

.appcontainer {
  display: flex;
}
@media (max-width: 768px) {
  .appcontainer {
    justify-content: center;
  }
}

.editcard {
  max-width: 500px;
}
.editcard .back {
  display: flex;
  align-items: center;
}
.editcard .back a {
  color: #79589f;
  font-size: 20px;
  font-weight: bold;
  margin-right: 15px;
  width: auto;
}
.editcard * {
  width: 100%;
}
.editcard img {
  width: auto !important;
}
.editcard p {
  font-weight: 300 !important;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 10px;
}
.editcard p a {
  color: #79589f;
}
.editcard p a:hover {
  color: #4f3074;
  text-decoration: underline;
}
.editcard .input-text {
  border: 1px solid #eaeaea;
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #fff;
  margin-top: 20px;
}
.editcard .input-text input {
  width: 100%;
  height: 100%;
  background-color: unset;
  border: none;
  top: 0;
  left: 0;
  padding: 15px 25px;
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
}
.editcard .input-text textarea {
  width: 100%;
  height: 100%;
  background-color: unset;
  border: none;
  top: 0;
  left: 0;
  padding: 15px 25px;
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
}
.editcard button {
  outline: none;
  background-color: #79589f;
  border: none;
  width: 100%;
  padding: 15px;
  color: #fff;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}
.editcard button:hover {
  background-color: #4f3074;
}

.editcard {
  margin-right: 25px;
  width: 100%;
}

.alert {
  margin-top: 15px;
}

.home {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .navbar-nav {
    font-size: 12px;
  }
  .navbar-nav .item.desktop {
    display: none;
  }
  .navbar-nav .item.mobile {
    background-color: #79589f;
    color: #fff;
  }
  .navbar-nav .nav-link.mobile img {
    width: 30px;
  }

  .container.register .sidebar, .container.login .sidebar {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .container.register .sidebar-content, .container.login .sidebar-content {
    margin: 0 10px;
  }

  .burger-menu img {
    width: 30px;
    height: 100%;
  }

  .home {
    gap: 30px;
  }

  .sidebar.menu {
    display: block;
    position: fixed;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
    width: 130px;
  }
  .sidebar.menu.open {
    display: block;
    position: fixed;
    z-index: 10;
    opacity: 1;
    width: 100vw;
  }
}
@media (min-width: 769px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .navbar-nav .item.mobile {
    display: none;
  }
}
